body {
        background-image: url(../imagenes/gravel.png);
        font: 14px/16px "HelveticaNeue", "Helvetica Neue", Helvetica;
}



img{
    float: left;
    margin: 15px;
}

h1{
    font: 40px "HelveticaNeue";
}



h2{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 40px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif
}

p{
    text-indent: 20px;
}
.separacion{
    margin-top: 10px;
}


.header{
    background-image: url(../imagenes/crow.jpg);
    
    height: 300px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
}

.submenu {
    float: left;
}

.submenu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.submenu a:hover {
    background-color: #111;
}

.titulo{
    display: block;
    padding-top: 90px;
    padding-left: 250px;
    color: azure;

}

.frase{
    display: block;
    padding-left: 100px;
    font-size: 15px;
    color: azure;
}

.contenedor{
    
    margin-left: 20%;
    margin-right: 19%;
    margin-top: 5%;
    text-align: justify;
    background-color: transparent;
}

.active {
    background-color: rgb(30, 177, 157);
}

.imagencasa{
    width: 300px;
    height: 150px;
    float: right;
    border-radius: 20px;
    margin-top: -10px;
}





